#photosbody{margin-top: 50px;}


#container1{background-color: #527Ac2;}

.sc{background-color: aliceblue;padding: 20px;width: 300px;height:500px ; border-radius: 5px;}

.imgdiv{height: 400px;;overflow: hidden;}

img{object-fit:cover;border-radius: 10px}

.picbtn{margin: 10px;background-color: aliceblue;padding: 20px;width: 300px;height:500px ;border-radius: 5px;}

#picset{display: flex;flex-wrap: wrap;justify-content: center;}

#photogalbtn{border: none;background-color: #01163800; width: max-content;height: min-content;border-radius: 20px;}

#photogalbtn:hover{box-shadow: rgba(255, 255, 255, 0.559) 0px 22px 70px 4px;}

#photogalbtn:active{box-shadow: rgb(255, 255, 255) 0px 22px 70px 4px;}